<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Detalle de Receta </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}">
    </head>
    <body>
        <main class="container">
            <div class="row">
                <div class="row d-flex">
                    <h1> Bienvenid@ de vuelta {{session['nombre']}} {{session['apellido']}} </h1>
                 </div>
                <form class="col-3" action="/recetas" method="GET">
                    <button class="btn btn-primary">
                        Todas las recetas
                    </button>
                </form>
                <form class="col-3" action="/procesa/logout" method="POST">
                    <button class="btn btn-secondary">
                        Logout 
                    </button>
                </form>
            </div>
            <div class="row">
                <h2 class="col-8"> {{receta.nombre}} </h2>
                <h3 class="col-4"> Publicada por: {{receta.usuario.nombre}} {{receta.usuario.apellido}} </h3>
            </div>
            <div class="row border border-primary">
                <p class="col-4"> Descripcion: </p>
                <p class="col-8"> {{receta.descripcion}} </p>

                <p class="col-4"> Menos de 30 min? </p>
                <p class="col-8"> {{receta.menos_30}} </p>

                <p class="col-4"> Instrucciones: </p>
                <p class="col-8"> {{receta.instrucciones}} </p>

                <p class="col-4"> Fecha en que se cocinó: </p>
                <p class="col-8"> {{receta.formato_fecha()}} </p>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
    </body>
</html>